.appbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 10vh;
	align-items: center;
}
.right {
	margin-right: 10px;
	display: flex;
	align-items: center;
}
.left {
	margin-left: 10px;
	display: flex;
	align-items: center;
}
